body {
  margin: 0;
  margin-bottom: 100px;
  font-family: "Montserrat", sans-serif;
  color: #444;
  line-height: 1.6em;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
  display: inline-block;
  padding-right: 10px;
}

p {
  text-align: justify;
}

img {
  margin-bottom: 10px;
}

a {
  overflow-wrap: break-word;
}

a,
a:active,
a:visited {
  color: #444;
}

a:hover {
  color: #888;
}

h1,h2,h3,h4,h5 {
  text-align: center;
}
h3 {
  margin-top: 50px;
}

h4 {
  color: #8597AF;
  font-size: 20px;
  margin-top: 50px;
}

h5 {
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 10px;
  font-weight: 200;
  color: #8597AF;
}

.header a {
  color: #444;
  text-decoration: none;
}

.header {
  text-align: center;
  padding: 10px;
}

.home {
  display: inline-block;
  margin-bottom: 10px;
}

.header a {
  color: #333;
  text-decoration: none;
}

.header-wrapper {
  background: #eeeef4;
}

.photo {
  width: 100%;
}

.header-img img {
  width: 100%;
}

.header .home {
  text-transform: uppercase;
  font-size: 22px;
}

.header li.active a {
  font-weight: 800;
}

.header li {
  list-style-type: none;
  display: inline-block;
  padding-left: 10px;
  text-transform: uppercase;
}

.header-img-wrapper {
  background-color: black;
}

.content {
  padding: 0 20px;
}

.content h1 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.colorize {
  color: #8597AF;
  font-weight: 600;
  /* font-size: 20px; */
}

.highlight {
  text-decoration: underline;
  font-weight: 600;
}

@media only screen and (min-width: 1200px) {
  body {
    background: #222;
    padding: 0;
  }

  h1,h2,h3,h4,h5 {
    text-align: left;
  }

  .header {
    text-align: left;
    width: 1200px;
    margin: 0 auto;
    padding: 35px 0;
  }

  .header ul {
    float: right;
  }

  .header-img {
    width: 1200px;
    margin: 0 auto;
  }

  .content-wrapper {
    background: #fff;
  }

  .content {
    width: 1200px;
    margin: 0 auto;
    padding: 40px 0;
    min-height: 500px;
  }


  .content h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 30px;
  }

  .content section {
    width: 720px;
    margin: 0 auto;
    padding: 50px 0;
  }

  .center * {
    text-align: center;
  }

  .footer {
    background: #222;
    height: 70px;
  }

  .grid {
    display: flex;
    flex-direction: row;
  }

  .grid-column {
    order: 0;
    flex-grow: 1;
  }

  .grid-column p {
    margin: 0;
    padding: 0 30px;
  }

  .publications img {
    width: 100%;
  }

  .publications .grid-column-left {
    display: inline-block;
    width: 9%;
  }
  .publications .grid-column-right {
    display: inline-block;
    width: 90%;
  }

.twitter {
  font-size: 20px !important;
  position: relative;
  top: 1px;
  color: #555;
}

.photo {
  width: 280px;
}
